<footer id="footer" class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="footer__inner">
      <div class="row footer__row">
        <div class="row__col--7 footer__col footer__col--title">
          <p class="footer__title">alumex</p>
        </div>
        <div class="row__col--3 footer__col footer__col--subtitle">
          <p class="footer__suptitle">производство алюминиевых окон и дверей</p>
        </div>
        <div class="row__col--4 footer__col footer__col--nav">
          <div class="footer__card">
            <div class="footer__card-header">
              <p class="footer__subtitle">Навигация</p>
            </div>
            <div class="footer__card-box">
              <nav class="footer__nav" role="navigation">
                <ul class="footer__nav-list">
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Главная</a>
                  </li>
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">О нас</a>
                  </li>
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Услуги</a>
                  </li>
                  <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Контакты</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="u-content footer__card-description">
              <p>© 2025 alumex.kz</p>
            </div>
          </div>
        </div>
        <div class="row__col--3 footer__col footer__col--address">
          <div class="footer__card">
            <div class="footer__card-header">
              <p class="footer__subtitle">Адрес</p>
            </div>
            <div class="footer__card-box">
              <p class="footer__address">г. Алматы, просп. Райымбека 345/1</p>
            </div>
            <div class="u-content footer__card-description">
              <p>с 10:00 до 17:00</p>
            </div>
          </div>
        </div>
        <div class="row__col--3 footer__col footer__col--contacts">
          <div class="footer__card">
            <div class="footer__card-header">
              <p class="footer__subtitle">Телефон</p>
              <p class="footer__subtitle">WhatsApp</p>
            </div>
            <div class="footer__card-box">
              <a href="tel:+77088451629" class="phone-link footer__card-phone">
                <svg class="u-icon phone-link__icon">
                  <use xlink:href="images/icons/icons.svg#phone-fill"></use>
                </svg>
                <span class="phone-link__text">+7 (708) 845 16 29</span>
              </a>
              <a href="#" class="footer__card-sc-link">
                <svg class="u-icon">
                  <use xlink:href="images/icons/icons.svg#whatsapp-logo"></use>
                </svg>
              </a>
            </div>
            <div class="u-content footer__card-description">
              <p><a href="#">Обратный звонок</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>