<header class="@@el header">
  <div class="container container--size-md header__container">
    <div class="header__inner">
      <div class="js-catalog catalog-dropdown header__catalog">
        <button type="button" class="js-catalog-btn catalog-dropdown__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="js-catalog-body catalog-dropdown__body">
          <ul class="catalog-dropdown__list">
            <li class="catalog-dropdown__list-item">
              <a href="#" class="catalog-dropdown__list-link">Category 1</a>
            </li>
            <li class="catalog-dropdown__list-item">
              <a href="#" class="catalog-dropdown__list-link">Category 2</a>
            </li>
            <li class="catalog-dropdown__list-item">
              <a href="#" class="catalog-dropdown__list-link">Category 3</a>
            </li>
            <li class="catalog-dropdown__list-item">
              <a href="#" class="catalog-dropdown__list-link">Category 4</a>
            </li>
            <li class="catalog-dropdown__list-item">
              <a href="#" class="catalog-dropdown__list-link">Category 5</a>
            </li>
            <li class="catalog-dropdown__list-item">
              <a href="#" class="catalog-dropdown__list-link">Category 6</a>
            </li>
          </ul>
        </div>
      </div>
      <a href="/" class="header__logo">alumex<span>.kz</span></a>
      <p class="d-md-none header__description">производство алюминиевых окон и&nbsp;дверей</p>
      <nav class="header__nav" role="navigation">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#root" class="js-anchor header__nav-link">Главная</a>
          </li>
          <li class="header__nav-item">
            <a href="#about" class="js-anchor header__nav-link">О нас</a>
          </li>
          <li class="header__nav-item">
            <a href="#services" class="js-anchor header__nav-link">Услуги</a>
          </li>
          <li class="header__nav-item">
            <a href="#footer" class="js-anchor header__nav-link">Контакты</a>
          </li>
        </ul>
      </nav>
      <a href="tel:+77088451629" class="phone-link header__phone">
        <svg class="u-icon phone-link__icon">
          <use xlink:href="images/icons/icons.svg#phone-outline"></use>
        </svg>
        <span class="phone-link__text">+7 (708) 845 16 29</span>
      </a>
    </div>
  </div>
</header>